.main__container {
  position: relative;
  min-width: 320px;
}
.hero {
  padding-top: 286px;
  border-bottom-left-radius: 90px;
  background-color: #f5f6fb;
}

.hero__title {
  position: absolute;
  z-index: 3;
  top: 137px;
  left: 60px;
  font-style: 700;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.main {
  padding-top: 514px;
  background-image: url(../../images/cole.png);
  background-repeat: no-repeat;
  background-position: bottom 0px left 35px;
}

@media screen and (min-width: 768px) {
  .main__container {
    width: 768px;
  }
  .hero {
    padding-top: 335px;
  }

  .hero__title {
    top: 172px;
    left: 214.5px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.18em;
  }

  .main {
    padding-top: 446px;
    background-image: url(../../images/double\ cole.png);
    background-position: bottom 56px left 103px;
  }
  .coles {
    position: relative;
    top: -300px;
    left: 0px;
    padding-top: 233px;
    background-image: url(../../images/many\ coles.png);
    background-position: bottom 1px left 1px;
  }
}

@media screen and (min-width: 1280px) {
  .main__container {
    width: 1280px;
  }

  .hero {
    padding-top: 400px;
  }

  .hero__title {
    top: 428px;
    left: 302px;
  }

  .main {
    padding-top: 268px;
    background-position: bottom 50px left 230px;
  }
  .coles {
    position: relative;
    top: -380px;
    left: 0px;
    padding-top: 233px;
    background-image: url(../../images/many\ coles.png);
    background-position: bottom 1px left 1px;
  }
}
