.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 20px;
  box-sizing: content-box;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 50px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 110px;
  }
}
