.backgroundPage {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background {
  height: 342px;
  border-bottom-left-radius: 100px;
  background: #f5f6fb;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .background {
    height: 583px;
  }

  .coles,
  .colesTr {
    z-index: -1;
    position: absolute;
    left: 64%;
    /* top: 1033px; */
    bottom: -39px;
    height: 142px;
    width: 183px;
    background-image: url(../../../images/background/doubleCole.png);
  }

  .colesTr {
    bottom: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .coles {
    left: 10px;
    bottom: -20px;
    top: auto;
    height: 194px;
    width: 100%;
    background-image: url(../../../images/background/transColes.png);
  }
}
