.wrapper_container {
  margin: 0 auto;
  width: 100%;
  max-width: 282px;
}
@media screen and (min-width: 768px) {
  .wrapper_container {
    max-width: 666px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper_container {
    max-width: 1060px;
  }
}
