.section {
  padding-top: 10px;
  padding-bottom: 50px;
}

.reportsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .balanceWrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  .balanceContainer {
    padding-bottom: 30px;
  }

  .reportsContainer {
    align-items: stretch;
    padding-top: 40px;
    padding-left: 51px;
    padding-right: 51px;
    min-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .reportsContainer {
    width: 1060px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* .balanceContainer {
  } */
}
