.main_container {
  position: relative;
}
.home_container {
  position: absolute;
  top: 0;
  left: 110px;
}

@media screen and (min-width: 768px) {
  .home_container {
    top: 142px;
    left: 51px;
  }
}

@media screen and (min-width: 1280px) {
  .home_container {
    top: 93px;
    left: 110px;
  }
}
