.background {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  background-image: url(../../images/background/background-m.png);
  background-size: 320px 342px;
  background-repeat: no-repeat;
  background-position: top center;
}
/* -----------------------------------tablet----------------------------------- */
@media screen and (min-width: 768px) {
  .background {
    padding: 0 50px;
    background-image: url(../../images/background/background-t.png);
    background-size: 768px, 183px;
    background-position: top center;
  }
  .coles {
    padding-top: 215px;
    background-repeat: no-repeat;
    background-size: 183px, 142px;
    background-image: url(../../images/background/double\ cole.png);
    background-position: bottom 64px right 88px;
  }
}
/* -----------------------------------------desktop----------------------------- */
@media screen and (min-width: 1280px) {
  .background {
    padding: 0 110px;
    background-image: url(../../images/background/background-d.png);
    background-size: 1280px, 52px;
    background-position: top center;
  }
  .coles {
    padding-top: 900px;
    background-size: 1280px, 232px;
    background-image: url(../../images/background/many\ coles.png);
    background-position: top center;
  }
}
