.link {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: rgba(82, 85, 95, 0.7);
  transition: all 250ms ease-in-out;
}

.link:hover {
  transform: scale(1.1);
}

.text {
  display: none;
}

@media (min-width: 768px) {
  .icon {
    margin-right: 18px;
  }

  .text {
    display: block;
  }
}
